-- MySQL dump 10.13  Distrib 5.7.44, for Linux (x86_64)
--
-- Host: localhost    Database: smsdb
-- ------------------------------------------------------
-- Server version	5.7.44

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `SMSQ_SEND`
--

DROP TABLE IF EXISTS `SMSQ_SEND`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `SMSQ_SEND` (
  `seqno` int(11) NOT NULL AUTO_INCREMENT,
  `dest_no` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `call_back` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `msg_contents` mediumtext COLLATE utf8mb4_unicode_ci,
  `msg_instm` datetime DEFAULT CURRENT_TIMESTAMP,
  `sendreq_time` datetime DEFAULT CURRENT_TIMESTAMP,
  `mobsend_time` datetime DEFAULT NULL,
  `repmsg_recvtm` datetime DEFAULT NULL,
  `status_code` int(11) DEFAULT '100',
  `mob_company` varchar(10) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `title_str` varchar(200) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `msg_type` varchar(10) COLLATE utf8mb4_unicode_ci DEFAULT 'S',
  `rsv1` varchar(10) COLLATE utf8mb4_unicode_ci DEFAULT '1',
  `sender_code` varchar(9) COLLATE utf8mb4_unicode_ci DEFAULT '',
  `bill_id` varchar(40) COLLATE utf8mb4_unicode_ci DEFAULT '',
  `file_name1` varchar(120) COLLATE utf8mb4_unicode_ci DEFAULT '',
  `file_name2` varchar(120) COLLATE utf8mb4_unicode_ci DEFAULT '',
  `file_name3` varchar(120) COLLATE utf8mb4_unicode_ci DEFAULT '',
  `file_name4` varchar(120) COLLATE utf8mb4_unicode_ci DEFAULT '',
  `file_name5` varchar(120) COLLATE utf8mb4_unicode_ci DEFAULT '',
  `k_template_code` varchar(30) COLLATE utf8mb4_unicode_ci DEFAULT '',
  `k_next_type` varchar(1) COLLATE utf8mb4_unicode_ci DEFAULT 'N',
  `k_next_contents` text COLLATE utf8mb4_unicode_ci,
  `k_button_json` varchar(1024) COLLATE utf8mb4_unicode_ci DEFAULT '',
  `k_etc_json` varchar(1024) COLLATE utf8mb4_unicode_ci DEFAULT '',
  `k_oriseq` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT '',
  `k_resyes` varchar(1) COLLATE utf8mb4_unicode_ci DEFAULT 'N',
  `app_etc1` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `app_etc2` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`seqno`)
) ENGINE=InnoDB AUTO_INCREMENT=454212 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-02-05 21:58:05
